body {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  padding: 0;
  margin: 0;
}
main {
  background-color: #efefef;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 20px; */
}
a {
  text-decoration: underline;
  color: gray;
}
h2,
h3 {
  margin: 7px 0;
}
ul, p {
  margin: 5px 0;
}
li {
  margin: 4px 0;
}
.container {
  max-width: 800px;
  max-height: 1340px;
  background-color: #fff;
  padding: 10px 35px;
  /* border: 1px solid #aaa; */
}
.fx-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.font-bold {
  font-weight: bold;
}
